* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-image: url("imagens/Kristal-subtle-glass-white-background-pattern-patternpictures-0220.png");
    color: rgb(6, 6, 6);
    text-shadow: 1px 2px 7px rgb(193, 217, 235);
}

.head{
    margin-top: 50px;

}

.bernardo-photo{
    box-shadow: 5px 3px 10px rgb(84, 80, 80);
    margin-bottom: 5px;
}

#more-about{
    text-decoration: none;
    color: black;
    background-color: slategrey;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.apresentacao{
    width: 15em;
}