* {
    margin: 0;
    margin-left: 0px;
    padding: 0;
    line-height: 1.5;
    letter-spacing: 2.5px;
    text-shadow: 1px 3px 5px black;
}

@font-face{
    font-family: Minecraftia;
    src: url(./font/Minecraftia-Regular.ttf);
}

body{
    font-family: 'Minecraftia', serif;
    background-image: url("./imagens/dark_grunge_texture_background_1004.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 17px;
    color: rgb(17, 212, 17);
    margin-left: 25px;
        
}

.header{
    text-align: center;
    margin-bottom: 20px;    
}

#title{
    margin-bottom: 15px;
    margin-top: 15px;
}

#name{
    margin-bottom: 50px;
}

.bernardo-photo{
    border-radius: 50%;
    box-shadow: 0px 0px 25px rgb(17, 212, 17);
}

.about-more{
    background-color: rgba(66, 66, 68, 0.767);
    max-width: 315px;
    border-radius: 25px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: rgb(252, 53, 53);
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 0px 10px rgb(10, 9, 1);
}

.present{
    max-width: 650px;
}

.contacts{
    margin-bottom: 15px;
}