body{
    font-size: 18px;
    font-family: 'Noto Serif', serif;
    background-color: #FAA319;
    line-height: 27px;
}

.title{
    color: ;
}

.myphoto{
    border-radius: 20%;
        
}

.buttom{
    background-color: rgba(247, 36, 36, 0.37);
    color: black;
    text-decoration: none;
    line-height: 55px;
    padding: 7px;
    border-radius: 80%;
}

.buttom-trybe{
    background-color: rgb(90, 182, 128);
    color: white;
    text-decoration: none;
    padding: 3px;
    border-radius: 10%;
}

.audiobook{
    background-color: rgb(91, 107, 255);
    color: white;
    text-decoration: none;
    padding: 5px;
    line-height: 28px;
}
