body{
    font-size: 18px;
    font-family: 'Noto Serif', serif;
    background-color: #faa111;
    line-height: 27px;
    margin: 10%;
    background-image:url("https://img.freepik.com/fotos-gratis/fundo-de-pintura-grunge_1409-1337.jpg?t=st=1645758701~exp=1645759301~hmac=58bf2c7e334439d6885e0bd4c247ca49ae92b72efb83626473dc8071aec71519&w=826");
    text-shadow: 0px 0px 3pc rgba(92, 172, 0, 0.932);
}

.title{
    line-height: 1;
}

.myphoto{
    border-radius: 20%;
    box-shadow: 0px 0px 3pc rgb(77, 181, 250);
        
}

.buttom-trybe{
    background-color: rgb(90, 182, 128);
    color: white;
    text-decoration: none;
    padding: 3px;
    border-radius: 10%;
    box-shadow: 1px 2px black;
}

    
}

.audiobook{
    background-color: rgb(91, 107, 255);
    color: white;
    text-decoration: none;
    padding: 5px;
    line-height: 28px;
}

.space-contat{
    margin: 2px;
}